<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25074182970-vld4mpnqkj3vd02arggcde9ukd8ae50e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25074182970-vld4mpnqkj3vd02arggcde9ukd8ae50e</string>
	<key>API_KEY</key>
	<string>AIzaSyBFSR94aRfFuYPlwKjrflscckizx5rvl7U</string>
	<key>GCM_SENDER_ID</key>
	<string>25074182970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myTestApp.FirabaseAppMVP</string>
	<key>PROJECT_ID</key>
	<string>firabaseappmvp</string>
	<key>STORAGE_BUCKET</key>
	<string>firabaseappmvp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25074182970:ios:af7a83ac0ddcd993333e03</string>
</dict>
</plist>